@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lexend", sans-serif;
}

header {
    background-color: #a33e2f;
    height: 80px;
}

h2 {
    font-size: 2.5rem;
}

.container {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
}

.navbar {
    color: white;
    padding: 0 1rem;
    height: 100%;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu {
    display: flex;
    gap: 1rem;
}

.menu-item {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
}

.menu-item:hover {
    text-decoration: underline;
}

.logo {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 0.3rem;
    background: none;
    border: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}

/* Hero */
.hero h2 {
    text-align: center;
    margin: 2rem 0;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
}

.hero-content {
    width: calc(33%);
    display: flex;
    align-items: center;
    background-color: #3ec0a161;
    justify-content: center;
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;
}

.hero-content:hover {
    background-color: #f5a961;
}

.hero-content img {
    width: 80%;
}

h2 span {
    color: #a33e2f;
}

/* About */
.about {
    background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
    animation: gradientBG 15s ease infinite;
    padding: 5rem 0;
    margin-top: 3rem;
}

.about-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-right, .about-left {
    width: calc(48% - 2rem);
}

.about img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

/* Work */
.work {
    padding: 3rem 0;
}

.work h2 {
    text-align: center;
    margin-bottom: 2.5rem;
}

.work-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work-content {
    width: calc(28% - 1rem);
    margin-bottom: 2.5rem;
    padding: 1.5rem;
    text-align: center;
    border: 2px solid #06425c;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.work-content i {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #06425c;
}

.work-content p {
    font-weight: 600;
}

.work-content:hover {
    background-color: #a33e2f;
    border: 2px solid black;
}

.work-content:hover i {
    color: white;
}

.work-content:hover p {
    color: white;
}

/* Case */
.case {
    background: linear-gradient(135deg, #43cea2 0%, #185a9d 100%);
    animation: gradientBG 15s ease infinite;
    padding: 4rem 0;
}

.case h2 {
    text-align: center;
    margin-bottom: 2.5rem;
}

.case p {
    text-align: center;
    margin-bottom: 2.5rem;
    color: aliceblue;
    font-size: 1.2rem;
}

.case-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.case-content {
    width: calc(48% - 1rem);
}

.case img {
    width: 100%;
}

.list-wrapper {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.case .list {
    margin-bottom: 1.5rem;
    background-color: #333333fa;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 10px;
}

/* Testimonials */
.testimonials {
    padding: 4rem 0;
}

.testimonials h2, .testimonials .desc {
    text-align: center;
    margin-bottom: 2.5rem;
}

.testimonials-wrapper {
    display: flex;
}

.testimonials-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.card-holder {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.testimonials-card img {
    max-width: 100%;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.testimony {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.stars {
    margin-top: 1rem;
}

/* CTA */
.cta {
    background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
    animation: gradientBG 15s ease infinite;
    padding: 5rem 0;
}

.cta-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta-wrapper h3 {
    margin-bottom: 2rem;
    color: white;
    font-size: 2rem;
}

.cta-wrapper a {
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid white;
    color: white;
    transition: 0.3s;
    border-radius: 5px;
}

.cta-wrapper a:hover {
    background-color: #06425c;
    border: 2px solid #06425c;
}

/* Footer */
footer {
    background-color: #06425c;
    padding-top: 3.5rem;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.footer-left, .footer-right {
    margin: 0 2rem;
}

.footer-wrapper h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.footer-wrapper a {
    color: white;
}

.credit {
    padding: 1rem;
    color: white;
    border-top: 1px white solid;
    text-align: center;
}

.footer-wrapper p {
    margin-bottom: 1rem;
}

/* Media Queries */
@media (max-width: 787px) {
    .menu {
        display: none;
        flex-direction: column;
        gap: 0;
    }

    .menu-item {
        padding: 1rem;
        border-top: 1px solid white;
    }

    .hamburger {
        display: flex;
    }

    .menu.active {
        background-color: #a33e2f;
        display: flex;
        position: absolute;
        width: 100%;
        top: 80px;
        left: 0;
        right: 0;
    }

    h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    .about-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .about-right, .about-left {
        width: calc(100% - 2rem);
    }

    .about-left {
        margin-bottom: 2.5rem;
    }

    .work-content {
        width: calc(31% - 1rem);
    }

    .work-content {
        font-size: 0.825rem;
    }

    .case-wrapper {
        flex-direction: column;
    }

    .case-content {
        width: calc(100% - 1rem);
    }

    .footer-wrapper {
        flex-direction: column;
    }

    .footer-left {
        margin-bottom: 1.5rem;
    }

    .case p {
        font-size: 1rem;
    }

    .case-left {
        margin-bottom: 1.5rem;
    }
}

/* Gradient Animation */
@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
