@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lexend", sans-serif;
}

header {
    background-color: #a33e2f;
    height: 80px;
}

section {
    margin-bottom: 3.5rem;
}
.container {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
}

.navbar {
    color: white;
    padding: 0 1rem;
    height: 100%;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu {
    display: flex;
    gap: 1rem;
}

.menu-item {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
}

.menu-item:hover {
    text-decoration: underline;
}

.logo {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 0.3rem;
    background: none;
    border: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 5px;
}

/* Hero */
.hero h2 {
    text-align: center;
    margin: 2rem 0;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
}

.hero-content {
    width: calc(33%);
    display: flex;
    align-items: center;
    background-color: #dbdbdb;
    justify-content: center;
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;
}

.hero-content:hover {
    background-color: #f5a961;
}

.hero-content img {
    width: 80%;
}

h2 span {
    color: #a33e2f;
}

/* About */

.about {
    background-color: #06425c26;
    padding: 5rem 0;
}

.about-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-right, .about-left {
    width: calc(48% - 2rem);
}

.about img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

/* Work */

.work {
    
}

.work h2 {
    text-align: center;
    margin-bottom: 2.5rem;
}

.work-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work-content {
    width: calc(28% - 1rem);
    margin-bottom: 2.5rem;
    padding: 1rem;
    text-align: center;
    border: 2px solid #06425c;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.work-content i {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #06425c;
}

.work-content p {
    font-weight: 600;
}

.work-content:hover {
    background-color: #a33e2f;
    border: 2px solid black;
}

.work-content:hover i {
    color: white;
}

.work-content:hover p {
    color: white;
}

/* CASE */
.case {
    background-color: #a33e2f30;
    padding: 4rem 0;
}

.case h2 {
    text-align: center;
    margin-bottom: 2.5rem;
}

.case p {
    text-align: center;
    margin-bottom: 2.5rem;
}

.case-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.case-content {
    width: calc(48% - 1rem);
}

.case img {
    width: 100%;
}

.list-wrapper {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.case .list {
    margin-bottom: 1.5rem;
    background-color: #a33e2f;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 10px;
}

/* Testimonials */

.testimonials h2, .testimonials p {
    text-align: center;
    margin-bottom: 2.5rem;
}

.testimonials-wrapper {
    display: flex;
}

.testimonials-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.card-holder {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.testimonials-card img {
    max-width: 100%;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.testimony {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.stars {
    margin-top: 1rem;
}

/* Slider */



@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        gap: 0;
    }
    .menu-item {
        padding: 1rem;
        border-top: 1px solid white;
    }
    .hamburger {
        display: flex;
    }
    .menu.active {
        background-color: #a33e2f;
        display: flex;
        position: absolute;
        width: 100%;
        top: 80px;
        left: 0;
        right: 0;
    }

    h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    .about-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .about-right, .about-left {
        width: calc(100% - 2rem);
    }

    .about-left {
        margin-bottom: 2.5rem;
    }

    .work-content {
        width: calc(40% - 1rem);
    }

    .work-content {
        font-size: 0.825rem;
    }

    .case-wrapper {
        flex-direction: column;
    }

    .case-content {
        width: calc(100% - 1rem);
    }
}
